* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #cb2d3e;  /* fallback for old browsers */
    background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84); 
}

.header {
    /* border-bottom: 1px solid white; */
}

.title {
    font-size: 2.6rem;
    color: white;
    opacity: .9;
    font-weight: normal;
    padding: 1rem 2.5rem;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 4rem;
}

.form-group {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 2.5rem;
    text-align: center;
    border-radius: 8px;
    position: sticky;
}

.todo-title, .description, .btn-submit {
    width: 90%;
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-submit {
    padding: 1.8rem;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
}

.btn-submit:hover {
    background-color:#38ef7d;
    transform: scale(1.01);
    cursor: pointer;
}

.things-to-do {
    border: 1px solid white;
    text-align: center;
    position: relative;
}

.things-to-do>p {
    font-size: 3.4rem;
    font-weight: 100;
    position: absolute;
    top: -24px;
    left: 40%;
    color: white;
}

.tasks {
    padding: 6rem;
}