.title {
    font-size: 2.5rem;
}

.main-container {
    display: inline-block;
    width: 100%;
}

.form-container {
    width: 100%;
}

.form-group {
    width: 70%;
    margin: 0 auto;
}

.form-group form {
    padding: 2rem 4rem;
    text-align: center;
}

.btn-submit {
    padding: 1.5rem;
}

.things-to-do {
    padding: 2rem;
}

.things-to-do>p {
    font-size: 3.2rem;
    position: static;
}